<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Comment</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Create Comment</h1>
    <form th:action="@{/comments/create}" th:object="${comment}" method="post" class="form-group">
        <label>Text:</label>
        <input type="text" th:field="*{text}" class="form-control"/>
        <label>User:</label>
        <select th:field="*{user}" class="form-control">
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">User</option>
        </select>
        <label>Task:</label>
        <select th:field="*{task}" class="form-control">
            <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.title}">Task</option>
        </select>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>

