<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APDCL Task Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Error</h1>
        <p th:text="${errorMessage}">Error message will be displayed here</p>
        <a th:href="@{/}" class="btn btn-primary mt-3">Back to Home</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
